@using Mobileshop.Models
@using Mobileshop.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div>
            
            <table class="table-bordered">
                <tr>
                    <td><p> Price </p></td>
                    <td><p> Producent </p></td>
                    <td><p> Model </p></td>
                    <td><p> Colors </p></td>
                    <td><p> Diagonal </p></td>
                </tr>
				<br />
                @foreach(var b in ViewBag.Phones)
                { 
                  <tr>
                    <td>
                        <i>@b.Price</i>
                    </td>
                    <td>
                        <b>@b.Producent</b>
                    </td>
                    <td>
                        <i>@b.Model</i>

                    </td>
                    <td>
                        <i>@b.Colors</i>

                    </td>
                    <td>
                        <i>@b.Diagonal</i>

                    </td>
                    <td>
                        <p><a href="/Home/Buy/@b.Id">Purchase</a></p>
                    </td>
                   </tr>
                }
            </table>
			<br />
        </div>  
		<div >
			
			@PaggingHelper.PageLinks(Html, ViewBag.PagingInfo, (Func<int, string>)(x => Url.Action("Index", new { page = x })))

		</div>
    
    